.App .container {
  max-width: 650px;
}

body {
  background-color: rgb(252, 134, 169);
}

header {
  font-size: 50px;
  margin: 20px 0px;
  font-weight: bold;
}

footer {
  font-size: small;
  margin: 20px 0px;
  text-align: center;
}

header {
  text-align: center;
  font-family: serif;
  color: white;
  text-shadow: -1px -1px 0 rgb(133, 31, 61), 1px -1px 0 rgb(133, 31, 61),
    -1px 1px 0 rgb(133, 31, 61), 1px 1px 0 rgb(133, 31, 61);
}
